<div class="container text-center">
  <form action="/answer" method="GET">
    <div class="form-group">
    <label for="question">Speak to your coach</label><br/>
    <input type="text" class="form-controller" id="question" name="query" placeholder="What time is it?">
    </div>
    <button class="btn btn-primary btn-lg">Go on!</button>
  </form>
</div>
